body {
   background-color: lightgoldenrodyellow;
}

#titolo {
   color: darkred;
   padding-bottom: auto;
   text-align: center;
}

.linkWiki {
   text-decoration: none;
   color: #0645AD;
   transition: color .15s ease;
}

.linkWiki:link {
   color: #0645AD;
}

.linkWiki:visited {
   color: #551A8B;
}

.linkWiki:hover {
   color: #FF4500;
   text-decoration: underline;
}

.linkWiki:active {
   color: #B22222;
}